<div class="modal-dialog">
  <form novalidate>
    <span><h2>Tipo de bien o Servicio</h2></span>
    <input type="text" name="nombreProducto" placeholder="Tipo de bien o servicio" required/>
    <input type="text" name="unidad" placeholder="Unidad" required/>
    <input type="text" name="proveedor" placeholder="Proveedor" required />
    <input type="number" name="cantidad" placeholder="Cantidad" required/>
    <input type="number" name="valor" placeholder="Valor" />
    <input type="float" name="valorTotal" placeholder="Valor Total" hidden />
    <input type="number" name="presupuesto" placeholder="Presupuesto" required />
    <input type="text" name="fecha" placeholder="Fecha" pattern="\d{1,2}\/\d{1,2}\/\d{2,4}"/>
    <input type="text" name="documentacion" placeholder="Documentación" required />

    <button type="submit" class="submit-button">
      Enviar
    </button>

  </form>

</div>




</div>