
.hide-modal{
  display: none !important;
}
.modal-container{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.4);
}

.modal-dialog{
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 5px 15px rgb(255,255,255, 0.5) ;
}

form{
  display: flex;
  flex-direction: column;
  align-items: start;
}

span, label {
  color: black;
} 

input{
  margin-bottom: 10px;
  padding: 15px;
  font-size: larger;
  align-self: center;

}
.submit-button{
  align-self: center;
  font-size: 18px;
}
