/*  
#283557
#5068B1
#13D6AF
#7DE2E6
*/

table {
  background-color: #283557;
  color: white;
  
  border-radius: 10px;
  padding: 5px;

  align-items: center;
}

tbody{
  background-color: white;
  color: #283557;
}

td{
  height: 100px;
  width: 120px;
}

img{
  height: 40px;
  display: inline-block;
}